#root {
  max-width: 1280px;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.formulario {
  display: grid;
  gap: 20px;
  width: 100%;
}

.container__login{
  width: 100%;
}
